#body{
    margin: 10px;
}
#gtu-head-context{
    height: 300px;
}
#head-font-h1{
    font-size: 70px;
    margin-top: 10px;
    margin-left: 20px;
}
#head-font-h2{
    font-size: 28px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    text-align: center;
}
#gtu-body-filter{
    margin-left: 5px;
    margin-right: 5px;
}
#gtu-body-filter-left{
}
#gtu-body-filter-right{
}
#select-university button{
    font-size: 10px;
    width: 100px;
}
#result-nav{
    margin-top: 30px;
    float: right;
}
#gtu-foot{
    height: 150px;
}